#sortable { list-style-type: decimal; margin: 10; padding: 10; width: 60%; }
#sortable li { margin: 3px 3px 3px 3px; padding: 0.4em; padding-left: 1.4em; font-size: 1.4em; height:1.4em; border: 1px solid black; }

#uppercounter {
	height: 10%;
	width: 100%;
	position:top;
	text-align:center;
}

.split {
	height: 90%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 10%;
	font-size: 3.0em;
	overflow-x: hidden;
	padding-top: 20px;
}

/* Control the left side */
.left {
	left: 0;
	background-color: white;
}

/* Control the right side */
.right {
	right: 0;
	background-color: white;
}

#left-centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 20px;
	border: 1px solid black;
}

#right-centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 20px;
	border: 1px solid black;
}

#reset {
	position: relative;
	margin-left: 10px;
	top: 500px;
}

#analysis {
	margin-left: 710px;
}

#analysis li {
	margin: 3px 3px 3px 3px; padding: 0.4em; font-size: 1em; height:1.2em; 
}

#left-align {
	float: left;
}

#right-align {
	float: right;
}

#sim-stat {
	float: center;
	padding-top: 40px;
}

#larger {
	font-size: 1.4em;
}

#table-showing {
	height: 30%;
	width:60%;
}

canvas {
	float: left;
}
